<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}) %>
    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Meu nome é João Carlos, sou dev frontend na Sanar</p>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
